fieldset
{
	width: 100%;
	color:$footer-text;
	@include linear-gradient(to top, $footer-background, #333333);
}

label 
{
		display: inline-block;
		width: 6em;
}

.submitLink 
{
    color:$text-color;
    font-size:100%;
    padding:14px;
    background-color:$home-menu-background;
    border:1px solid $category-lulz-header;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}
.submitLink:hover {
    background-color:$category-tech-body;
}

.cancelLink 
{
    color:$text-color;
    font-size:70%;
    padding:5px;
    cursor:pointer;
}

.text-box.single-line 
{
	width: 25em;
}

textarea
{
	width: 25em;
	height: 10em;
}

.bodyLabel
{
	margin-top: -5em;
}

.field-validation-error	
{
	@include transition-property (transform);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in);
	color: red;
}

#categories
{
	margin-left:6em;
	margin-top:-1em;

	input[type=radio] {
    margin:10px;
	}
	 input[type=radio] + label {
		display:inline-block;
		margin:0px;
		padding: 4px 12px;
		border-color: black;
		width: auto;
	   background-image: none;
		min-width:80px;
		text-align:center;
	}

	.Games_radio
	{ 
	   background-color:$category-games-header;
	}
	.Tech_radio
	{ 
	   background-color:$category-tech-header;
	}
	.LULZ_radio
	{ 
	   background-color:$category-lulz-header;
	}
	.Movies_radio
	{ 
	   background-color:$category-movies-header;
	}
	.Video_radio
	{ 
	   background-color:$category-video-header;
	}
	.Music_radio
	{ 
	   background-color:$category-music-header;
	}
}
