.ReviewsContainer article {
  font-size: .8rem;
  margin: 0;
  position: relative;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #666;
  height: 250px; }
  .ReviewsContainer article a {
    text-decoration: none;
    color: #fff; }
  .ReviewsContainer article h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: .5rem 0 .2rem .5rem; }
  .ReviewsContainer article .desc {
    margin: 0;
    padding: 0 10px; }
.ReviewsContainer .rating {
  margin: 0;
  padding: 10px 20px 10px 10px;
  width: 100%; }
.ReviewsContainer section {
  position: relative; }
.ReviewsContainer .category {
  margin: 0;
  padding: 0;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 50%; }
.ReviewsContainer .Games .category {
  background-color: #e99f00; }
.ReviewsContainer .Games h1 {
  background-color: #c95a00; }
.ReviewsContainer .Games .desc {
  background-color: #c95a00; }
.ReviewsContainer .Games .rating {
  background-color: #c95a00; }
.ReviewsContainer .Tech .category {
  background-color: #96d400; }
.ReviewsContainer .Tech h1 {
  background-color: #77af00; }
.ReviewsContainer .Tech .desc {
  background-color: #77af00; }
.ReviewsContainer .Tech .rating {
  background-color: #77af00; }
.ReviewsContainer .Music .category {
  background-color: #f03232; }
.ReviewsContainer .Music h1 {
  background-color: #a01c43; }
.ReviewsContainer .Music .desc {
  background-color: #a01c43; }
.ReviewsContainer .Music .rating {
  background-color: #a01c43; }
.ReviewsContainer .Videos .category {
  background-color: #aa0000; }
.ReviewsContainer .Videos h1 {
  background-color: #990000; }
.ReviewsContainer .Videos .desc {
  background-color: #990000; }
.ReviewsContainer .Videos .rating {
  background-color: #990000; }
.ReviewsContainer .Movies .category {
  background-color: #00a0db; }
.ReviewsContainer .Movies h1 {
  background-color: #136996; }
.ReviewsContainer .Movies .desc {
  background-color: #136996; }
.ReviewsContainer .Movies .rating {
  background-color: #136996; }
.ReviewsContainer .LULZ .category {
  background-color: #555555; }
.ReviewsContainer .LULZ h1 {
  background-color: #232323; }
.ReviewsContainer .LULZ .desc {
  background-color: #232323; }
.ReviewsContainer .LULZ .rating {
  background-color: #232323; }
.ReviewsContainer .Alpha .category {
  position: absolute;
  top: 0;
  left: 0; }
.ReviewsContainer .Alpha .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Alpha .secondary {
  width: 100%;
  position: absolute;
  top: 0; }
.ReviewsContainer .Bravo .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .Bravo .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Bravo .secondary {
  width: 100%;
  position: absolute;
  top: 0; }
.ReviewsContainer .Charlie .category {
  position: absolute;
  bottom: 0px;
  left: 0; }
.ReviewsContainer .Charlie .main {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Charlie .secondary {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0; }
.ReviewsContainer .Delta .category {
  position: absolute;
  bottom: 0px;
  right: 0; }
.ReviewsContainer .Delta .main {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Delta .secondary {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0; }
.ReviewsContainer .Echo .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .Echo .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Foxtrot .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .Foxtrot .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Golf .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .Golf .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .Hotel .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .Hotel .main {
  width: 100%;
  position: absolute;
  bottom: 0; }
.ReviewsContainer .India .category {
  position: absolute;
  top: 0;
  right: 0; }
.ReviewsContainer .India .main {
  width: 100%;
  position: absolute;
  bottom: 0; }

