@import '_variables.scss';

.ReviewsContainer {

    article {
        margin: 0;
        background-color: #444;
        height: 100%;
        border: 1px solid #fff;
        a {
            text-decoration: none;
        }
        header {
            background-color: $category-movies-body;
            color: #fff;
            padding: 10px 10px;
            h1 {
                text-transform: uppercase;
                color: #fff;
                font-size: 1.3rem;
            }
        }
        section {
            height: 100%;
        }
    }

    .category {
            width: 50%;
            line-height: 2rem;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
    }
    .Games {
        background-color: $category-games-header;
    }
    .Tech {
        background-color: $category-tech-header;
    }
    .Music {
        background-color: $category-music-header;
    }
    .Video {
        background-color: $category-video-header;
    }
    .Movies {
        background-color: $category-movies-header;
    }
    .LULZ {
        background-color: $category-lulz-header;
    }


}

