@import '_variables.scss';

.ReviewsContainer {

    article {
        margin: 0;
        position: relative;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background-color: #666;
        height: 250px;
        a {
            text-decoration: none;
            color: #fff;
        }
        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            padding: 10px;
        }
        .desc {
            margin: 0;
            padding: 0 10px;
        }
    }

    .category {
        margin: 0;
        padding: 0 2.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    .rating {
        margin: 0;
        padding: 10px 20px 10px 10px;
        width: 100%;
    }

   .main {
        overflow: hidden;
    }

    .Games {
        .category {
            background-color: $category-games-header;
        }
        h1 {
            background-color: $category-games-body;
        }
        .desc {
            background-color: $category-games-body;
        }
        .rating {
            background-color: $category-games-body;
       }
    }
    .Tech {
        .category {
            background-color: $category-tech-header;
        }
        h1 {
            background-color: $category-tech-body;
        }
        .desc {
            background-color: $category-tech-body;
        }
        .rating {
            background-color: $category-tech-body;
       }
    }
    .Music {
        .category {
            background-color: $category-music-header;
        }
        h1 {
            background-color: $category-music-body;
        }
        .desc {
            background-color: $category-music-body;
        }
        .rating {
            background-color: $category-music-body;
       }
    }
    .Videos {
        .category {
            background-color: $category-video-header;
        }
        h1 {
            background-color: $category-video-body;
        }
        .desc {
            background-color: $category-video-body;
        }
        .rating {
            background-color: $category-video-body;
       }
    }
    .Movies {
        .category {
            background-color: $category-movies-header;
        }
        h1 {
            background-color: $category-movies-body;
        }
        .desc {
            background-color: $category-movies-body;
        }
        .rating {
            background-color: $category-movies-body;
       }
    }
    .LULZ {
        .category {
            background-color: $category-lulz-header;
        }
        h1 {
            background-color: $category-lulz-body;
        }
        .desc {
            background-color: $category-lulz-body;
        }
        .rating {
            background-color: $category-lulz-body;
       }
    }

    .Alpha {
        .category {
            position: absolute;
            top: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Bravo {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Charlie {
        .category {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Delta {
        .category {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Echo {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Foxtrot {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Golf {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .Hotel {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .India {
        .category {
            position: absolute;
            top: 0;
            right: 0;
        }
        .main {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

