*, *:before, *:after { @include box-sizing(border-box); }

body {
	font-family: $lucida;
}

header[role="heading"]
{
	max-width: 68rem;
	margin: 20px auto;
}


h1[role="heading"]
{
	background: $home-menu-background;	
	float: left;
	font-size: 1rem;
	margin: -6px 15px 0px 0px;
	padding: 6px;

	a
	{
		color: $home-menu-text;
	}
}

ul
{
	list-style-type :none;
	margin: 0;
	padding: 0;

	li
	{
		display: inline;
		margin-right: 15px;
	}

	li:first-child
	{
		display: none;
	}
}

a 
{
	@include transition(333ms);
    text-decoration: none;
	color: $unhovered-menu-text;
    &:hover {
      text-decoration: underline;
    }
}

.ReviewsContainer
{
	@include outer-container;
}

article
{
	@include span-columns(3);
	@include omega(4n);
}

footer
{
	text-align: center;
	background: $footer-background;
	color: $footer-text;
	min-height: 100px;
}

i
{
	margin: 0px 10px;
}

@include media($tiny-breakpoint) {
	nav
	{
		float: right;
		margin-top: -7px;
	}

    ul 
	{
		right: 0;
        position: absolute;		

		li:first-child {
          opacity: 1;
		  display: block;
		  font-size: 1.7rem;
		  text-align: center;
		  padding: 0;
        }

        li {
          position: relative;
          opacity: 0;
		  display: block;
		  background: $home-menu-background;	
		  line-height: 2rem;
		  color: $home-menu-text;
		  padding: 4px;
		  border-top: 1px solid $home-menu-text;
          @include transition(333ms);
        }
        

        &:hover {
          li {
            opacity: 1;
          }
        }

		a
		{
			color: $home-menu-text;
		}
	}

	article
	{
		@include span-columns(6);
		@include omega(2n);
	}
}

@include media($super-tiny-breakpoint) {
	article
	{
		@include span-columns(12);
		@include omega(1n);
	}
}