*, *:before, *:after { @include box-sizing(border-box); }

body {
	font-family: $lucida;
}

nav
{
	@include outer-container;
	margin-bottom: 20px;
	margin-top: 20px;
}

ul
{
	list-style-type :none;
	margin: 0;
	padding: 0;
}

li
{
	display: inline;
	margin-right: 15px;

	i
	{
		opacity: 0;
	}
}

li:first-of-type
{
	background: $home-menu-background;	
}

a 
{
	@include transition(333ms);
    text-decoration: none;
	color: $unhovered-menu-text;
    &:hover {
      text-decoration: underline;
    }
}

.ReviewsContainer
{
	@include outer-container;
}

article
{
	@include span-columns(3);
	@include omega(4n);
}

footer
{
	text-align: center;
	background: $footer-background;
	color: $footer-text;
	min-height: 100px;
	width:99%;
}

i
{
	margin: 10px;
}

@include media($tiny-breakpoint) {
    ul 
	{
		width: 175px;
        position: relative;
        li {
          position: absolute;
          opacity: 0;
		  display: block;
          @include transition(222ms);

		  i
			{
				opacity: 1;
			}
        }
        li:first-child {
          position: relative;
          opacity: 1;
        }

        &:hover {
          li {
            opacity: 1;
          }
        }
	}

	article
	{
		@include span-columns(6);
		@include omega(2n);
	}
}