$category-movies-header: #00A0DB;
$category-movies-body: #136996;
$category-games-header: #E99F00;
$category-games-body: #C95A00;
$category-tech-header: #96D400;
$category-tech-body: #77AF00;
$category-music-header: #F03232;
$category-music-body: #A01C43;
$category-video-header: #AA0000;
$category-video-body: #990000;
$category-lulz-header: #555555;
$category-lulz-body: #232323;

$text-color: #F8F8F8;
$empty-background: #F8F8F8;
$unhovered-menu-text: #121212;

font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;