* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: inline-block;
  width: 6em;
  padding-top: 2px;
  padding-bottom: 2px; }

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px; }

.input-fieldset {
  max-width: 700px;
  color: white;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(bottom, #222222, #333333);
  background-image: linear-gradient(to top,#222222, #333333);
  margin-bottom: 20px; }

.submitLink {
  color: #f8f8f8;
  font-size: 100%;
  padding: 14px;
  background-color: #00bcff;
  border: 1px solid #555555;
  cursor: pointer; }

.submitLink:hover {
  background-color: #77af00; }

.cancelLink {
  color: #f8f8f8;
  font-size: 70%;
  padding: 5px;
  cursor: pointer; }

.text-box.single-line {
  width: 25em; }

textarea {
  width: 25em;
  height: 10em; }

.bodyLabel {
  margin-top: -100px; }

.field-validation-error {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: red; }

#categories {
  margin-left: 6em;
  margin-top: -1em; }
  #categories input[type=radio] {
    margin: 10px; }
  #categories input[type=radio] + label {
    display: inline-block;
    margin: 0px;
    padding: 4px 12px;
    border-color: black;
    width: auto;
    background-image: none;
    min-width: 80px;
    text-align: center; }
  #categories .Games_radio {
    background-color: #e99f00; }
  #categories .Tech_radio {
    background-color: #96d400; }
  #categories .LULZ_radio {
    background-color: #555555; }
  #categories .Movies_radio {
    background-color: #00a0db; }
  #categories .Video_radio {
    background-color: #aa0000; }
  #categories .Music_radio {
    background-color: #f03232; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

header[role="heading"] {
  max-width: 68rem;
  margin: 20px auto; }

nav ul {
  z-index: 9999; }

h1[role="heading"] {
  background: #00bcff;
  float: left;
  font-size: 1rem;
  margin: -6px 15px 0px 0px;
  padding: 6px; }
  h1[role="heading"] a {
    color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline;
    margin-right: 15px; }
  ul li:first-child {
    display: none; }

a {
  -webkit-transition: 333ms;
  -moz-transition: 333ms;
  transition: 333ms;
  text-decoration: none;
  color: #121212; }
  a:hover {
    text-decoration: underline; }

.ReviewsContainer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .ReviewsContainer:before, .ReviewsContainer:after {
    content: " ";
    display: table; }
  .ReviewsContainer:after {
    clear: both; }

article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  article:last-child {
    margin-right: 0; }
  article:nth-child(4n) {
    margin-right: 0; }
  article:nth-child(4n+1) {
    clear: left; }

fieldset {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  fieldset:last-child {
    margin-right: 0; }
  fieldset:nth-child(1n) {
    margin-right: 0; }
  fieldset:nth-child(1n+1) {
    clear: left; }

footer {
  text-align: center;
  background: #222222;
  color: white;
  min-height: 150px;
  margin-top: -16px; }
  footer p {
    padding-top: 30px; }

i {
  margin: 0px 10px; }

@media screen and (max-width: 1000px) {
  article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    article:last-child {
      margin-right: 0; }
    article:nth-child(2n) {
      margin-right: 0; }
    article:nth-child(2n+1) {
      clear: left; } }
@media screen and (max-width: 720px) {
  header[role="heading"] {
    padding-bottom: 20px; }

  nav {
    float: right;
    margin-top: -7px; }

  ul {
    right: 0;
    position: absolute; }
    ul li:first-child {
      opacity: 1;
      display: block;
      font-size: 1.5rem;
      text-align: center; }
    ul li {
      position: relative;
      opacity: 0;
      display: block;
      background: #00bcff;
      line-height: 1.2rem;
      color: white;
      padding: 4px;
      border-top: 1px solid white;
      -webkit-transition: 333ms;
      -moz-transition: 333ms;
      transition: 333ms; }
    ul:hover li {
      opacity: 1; }
    ul a {
      color: white; } }
@media screen and (max-width: 480px) {
  article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    article:last-child {
      margin-right: 0; }
    article:nth-child(1n) {
      margin-right: 0; }
    article:nth-child(1n+1) {
      clear: left; } }
.ReviewsContainer article {
  font-size: .9rem;
  margin: 0;
  position: relative;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #666;
  height: 250px; }
  .ReviewsContainer article a {
    text-decoration: none;
    color: #fff; }
  .ReviewsContainer article h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5rem; }
  .ReviewsContainer article .desc {
    margin: 0;
    padding: 0 10px; }
.ReviewsContainer .main .rating {
  position: absolute;
  bottom: .7rem;
  right: .7rem;
  margin: 0;
  width: 100%; }
.ReviewsContainer section {
  position: relative; }
.ReviewsContainer .category {
  margin: 0;
  padding: 0;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }
.ReviewsContainer .Games .category {
  background-color: #e99f00; }
.ReviewsContainer .Games .main {
  background-color: #c95a00; }
.ReviewsContainer .Tech .category {
  background-color: #96d400; }
.ReviewsContainer .Tech .main {
  background-color: #77af00; }
.ReviewsContainer .Music .category {
  background-color: #f03232; }
.ReviewsContainer .Music .main {
  background-color: #a01c43; }
.ReviewsContainer .Videos .category {
  background-color: #aa0000; }
.ReviewsContainer .Videos .main {
  background-color: #990000; }
.ReviewsContainer .Movies .category {
  background-color: #00a0db; }
.ReviewsContainer .Movies .main {
  background-color: #136996; }
.ReviewsContainer .LULZ .category {
  background-color: #555555; }
.ReviewsContainer .LULZ .main {
  background-color: #232323; }
.ReviewsContainer .Alpha h1 {
  font-size: 1rem; }
.ReviewsContainer .Alpha .category {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; }
.ReviewsContainer .Alpha .main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%; }
.ReviewsContainer .Alpha .secondary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%; }
.ReviewsContainer .Bravo h1 {
  font-size: 1rem; }
.ReviewsContainer .Bravo .category {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; }
.ReviewsContainer .Bravo .main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%; }
.ReviewsContainer .Bravo .secondary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%; }
.ReviewsContainer .Charlie h1 {
  font-size: 1rem; }
.ReviewsContainer .Charlie .category {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50%; }
.ReviewsContainer .Charlie .main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%; }
.ReviewsContainer .Charlie .secondary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%; }
.ReviewsContainer .Delta h1 {
  font-size: 1rem; }
.ReviewsContainer .Delta .category {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50%; }
.ReviewsContainer .Delta .main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%; }
.ReviewsContainer .Delta .secondary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%; }
.ReviewsContainer .Echo .category {
  position: absolute;
  top: 0;
  width: 100%; }
.ReviewsContainer .Echo .main {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .Echo .secondary {
  width: 50%;
  height: 100%; }
.ReviewsContainer .Foxtrot .category {
  position: absolute;
  bottom: 0;
  width: 100%; }
.ReviewsContainer .Foxtrot .main {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .Foxtrot .secondary {
  width: 50%;
  height: 100%; }
.ReviewsContainer .Golf .category {
  position: absolute;
  top: 0;
  width: 100%; }
.ReviewsContainer .Golf .main {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .Golf .secondary {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .Hotel .category {
  position: absolute;
  bottom: 0;
  width: 100%; }
.ReviewsContainer .Hotel .main {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .Hotel .secondary {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%; }
.ReviewsContainer .India .category {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; }
.ReviewsContainer .India .main {
  padding: 2rem 0 0 0;
  width: 100%;
  height: 100%; }
.ReviewsContainer .India .secondary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%; }

.rating {
  overflow: hidden;
  display: inline-block;
  margin-top: 8px; }

.rating-input {
  position: absolute;
  left: 0;
  top: -50px; }

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0; }

.rating-star,
.rating:hover .rating-star {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/Images/star.png") 0 -16px; }

.rating-star-display {
  float: right;
  display: block;
  width: 16px;
  height: 16px; }

.rating-star-empty {
  background: url("/Images/star.png") 0 -16px; }

.rating-star-full {
  background: url("/Images/star.png") 0 0px; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  margin: 0px; }

